@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background: #0b052d !important;
} */

/* Scrollbar dizayni */
.scroll_bar::-webkit-scrollbar {
  height: 2px; /* Vertikal skroll uchun balandlik */
}

.scroll_bar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Skrollning asosiy rangi */
  border-radius: 10px; /* Burchaklar yumshatilgan shakli */
  cursor: pointer;
}

.scroll_bar::-webkit-scrollbar-track {
  background-color: transparent; /* Skrollning fon rangi */
}


